html {
	background-color: Beige;
	}
	
body{
	font-family: Arial;
	color: Black;
	}

h1{
	margin: 0px;
	}

h2{
	margin: 20px;
	font-size: 25px;
	font-family: Arial;
	color: Black;
	text-align: center;
	}

div{
	color:Black;
	font-family: Arial;
	text-align: center;
	}

	
img {
	display: block;
	margin: 0 auto;
	width: 50%;
	}
	
iframe {
	margin: 0px;
}